/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/css/pages/address.scss ***!
  \*********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=PT+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/css/pages/address.scss (1) ***!
  \*************************************************************************************************************************/
/* transition */
/* border */
/* box-shadow */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262626;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  min-height: 100%;
}

a {
  text-decoration: none;
}

a,
button {
  transition: 0.3s;
  outline: none;
}
a:focus, a:hover,
button:focus,
button:hover {
  opacity: 0.6;
}
a:disabled,
button:disabled {
  opacity: 0.4;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .sm\:container {
    max-width: 480px !important;
  }
}
@media (min-width: 768px) {
  .md\:container {
    max-width: 768px !important;
  }
  .container {
    max-width: 768px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.g-root {
  overflow: hidden;
}

.g-row {
  display: flex;
  flex-wrap: wrap;
}

.g-item-12 {
  width: calc(100% * 12 / 12);
}
@media (min-width: 480px) {
  .sm\:g-item-6 {
    width: calc(100% * 6 / 12);
  }
}
@media (min-width: 1024px) {
  .lg\:g-item-3 {
    width: calc(100% * 3 / 12);
  }
}

.g-gap-2 > .g-row {
  margin: -4px;
}
.g-gap-2 > .g-row > [class*=g-item] {
  padding: 4px;
}

.g-gap-4 > .g-row {
  margin: -8px;
}
.g-gap-4 > .g-row > [class*=g-item] {
  padding: 8px;
}

.g-gap-5 > .g-row {
  margin: -10px;
}
.g-gap-5 > .g-row > [class*=g-item] {
  padding: 10px;
}

.g-gap-8 > .g-row {
  margin: -16px;
}
.g-gap-8 > .g-row > [class*=g-item] {
  padding: 16px;
}
@media (min-width: 480px) {
  .sm\:g-gap-4 > .g-row {
    margin: -8px;
  }
  .sm\:g-gap-4 > .g-row > [class*=g-item] {
    padding: 8px;
  }
  .sm\:g-gap-5 > .g-row {
    margin: -10px;
  }
  .sm\:g-gap-5 > .g-row > [class*=g-item] {
    padding: 10px;
  }
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 360px) {
  .xs\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 480px) {
  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.text-mb-1 {
  margin-bottom: 4px;
}

.text-mb-2 {
  margin-bottom: 8px;
}
.gn-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 1rem;
  height: 48px;
  padding: 0px 20px;
  color: #2563eb;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #fafafa;
  transition: opacity 0.2s ease 0s;
  user-select: none;
}
.gn-button:focus, .gn-button:hover {
  opacity: 0.8;
}
.gn-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.gn-button.pm-button {
  background-color: #2563eb;
  color: #fafafa;
}
.gn-button.sc-button {
  background-color: transparent;
  border: 1px solid #2563eb;
}
.gn-button.full {
  width: 100%;
}
.gn-button.fit {
  width: fit-content;
}
.gn-button.left {
  margin: 0px auto 0px 0px;
}
.gn-button.right {
  margin: 0px 0px 0px auto;
}
.gn-button.small {
  font-size: 0.875rem;
  height: 36px;
  padding: 0px 16px;
}
@media (min-width: 480px) {
  .gn-button.sm\:regular {
    font-size: 1rem;
    height: 48px;
    padding: 0px 20px;
  }
}
.price.primary {
  display: flex;
}
.price.primary .left span,
.price.primary .right span {
  display: block;
}
.price.primary .left {
  font-size: 0.875rem;
}
.price.primary strong {
  font-size: 32px;
  height: 32px;
  margin: 0px 3px;
}
.price.primary .right {
  font-size: 0.875rem;
}

.price.secondary {
  display: flex;
}
.price.secondary .left span,
.price.secondary .right span {
  display: block;
}
.price.secondary .left {
  font-size: 0.875rem;
}
.price.secondary strong {
  font-size: 32px;
  height: 32px;
  margin: 0px 3px;
}
.price.secondary .right {
  font-size: 0.875rem;
}
.price.secondary + small {
  font-size: 14px;
}

.badge {
  position: relative;
  width: fit-content;
  display: inline-flex;
}
.badge .badge-item {
  position: absolute;
  top: -10px;
  left: calc(100% - 10px);
  z-index: 1;
  min-width: 20px;
  height: 20px;
  color: #fafafa;
  background-color: #ef4444;
  border: 1px solid #fafafa;
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
  padding: 0px 5px;
  transform: scale(0);
  transition: transform 0.2s ease 0s;
}
.badge.active .badge-item {
  opacity: 1;
  transform: scale(1);
}

.topic.primary {
  display: flex;
  border: 1px solid #3b82f6;
  border-radius: 16px;
  padding: 16px;
}
.topic.primary .topic-left {
  margin-right: 12px;
}
.topic.primary .topic-left .icon {
  width: 64px;
  height: 64px;
}
.topic.primary .topic-right {
  color: #262626;
}
.topic.primary .topic-right .title {
  font-size: 16px;
  margin-bottom: 8px;
}
.topic.primary .topic-right p {
  font-size: 14px;
}

.topic.secondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 16px 32px;
  min-height: 96px;
  background-color: #e5e5e5;
}
.topic.secondary h3,
.topic.secondary p,
.topic.secondary a {
  font-size: 20px;
  color: #262626;
}
.topic.secondary h3 {
  margin-bottom: 8px;
}
.topic.secondary a {
  text-decoration: underline;
}
@media (max-width: 479px) {
  .topic.secondary {
    padding: 12px 20px;
    min-height: 72px;
  }
  .topic.secondary h3,
  .topic.secondary p,
  .topic.secondary a {
    font-size: 16px;
  }
  .topic.secondary h3 {
    margin-bottom: 4px;
  }
}

.aspect-ratio {
  position: relative;
  overflow: hidden;
}
.aspect-ratio.aspect-1-1 {
  padding-top: 100%;
}
.aspect-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.aspect-ratio.fit > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aspect-ratio.width > * {
  width: 100%;
}

.counter {
  display: flex;
  align-items: center;
  height: 48px;
}
.counter .counter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #a3a3a3;
  cursor: pointer;
}
.counter .counter-button:first-of-type {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0px;
}
.counter .counter-button:last-of-type {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: 0px;
}
.counter .counter-button .sign {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
}
.counter .counter-button .sign::before, .counter .counter-button .sign::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  background-color: #262626;
}
.counter .counter-button .sign::before {
  width: 12px;
  height: 2px;
  top: 0px;
  bottom: 0px;
}
.counter .counter-button .sign::after {
  width: 2px;
  height: 12px;
  left: 0px;
  right: 0px;
}
.counter .counter-button .sign.minus::after {
  display: none;
}
.counter .counter-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 1px solid #a3a3a3;
  outline: none;
  width: 48px;
  height: 100%;
  font-size: 20px;
  text-align: center;
}
.counter.small {
  height: 32px;
}
.counter.small .counter-button {
  width: 32px;
  border-radius: 6px;
}
.counter.small .counter-button .sign {
  width: 10px;
  height: 10px;
}
.counter.small .counter-button .sign::before {
  width: 10px;
}
.counter.small .counter-button .sign::after {
  height: 10px;
}
.counter.small .counter-input {
  width: 32px;
  font-size: 14px;
}
@media (min-width: 480px) {
  .counter.sm\:regular {
    height: 48px;
    border-radius: 8px;
  }
  .counter.sm\:regular .counter-button {
    width: 48px;
  }
  .counter.sm\:regular .counter-button .sign {
    width: 12px;
    height: 12px;
  }
  .counter.sm\:regular .counter-button .sign::before {
    width: 12px;
  }
  .counter.sm\:regular .counter-button .sign::after {
    height: 12px;
  }
  .counter.sm\:regular .counter-input {
    width: 48px;
    font-size: 20px;
  }
}

.modal {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease 0s;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal.primary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.primary .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 352px;
  min-height: 312px;
  max-height: 400px;
  padding: 20px;
  margin: 16px;
  border-radius: 16px;
  background-color: #fafafa;
  text-align: center;
}
.modal.primary .modal-content h2 {
  margin-bottom: 16px;
  font-size: 24px;
}
.modal.primary .modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/staticfiles/img/close.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.modal.primary .modal-close:hover, .modal.primary .modal-close:focus {
  opacity: 0.6;
  transition: 0.2s ease 0s;
}
.modal.secondary .modal-content {
  position: absolute;
  top: 0px;
  right: -480px;
  transform: translateX(0);
  transition: transform 0.5s ease 0s;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  padding: 20px;
  background-color: #fafafa;
}
.modal.secondary.active .modal-content {
  transform: translateX(-480px);
}
.modal.secondary .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.modal.secondary .modal-header .modal-close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/staticfiles/img/close.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.modal.secondary .modal-header .modal-close:hover, .modal.secondary .modal-header .modal-close:focus {
  opacity: 0.6;
  transition: opacity 0.2s ease 0s;
}
.modal.secondary .modal-body {
  overflow-y: auto;
  margin-bottom: 20px;
}
.modal.cart-modal .modal-content {
  padding: 32px;
}
@media (max-width: 479px) {
  .modal.cart-modal .modal-content {
    padding: 20px;
  }
}
.modal.cart-modal .cart-item {
  display: flex;
  min-height: 64px;
  gap: 8px;
}
.modal.cart-modal .cart-item .img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  overflow: hidden;
  align-self: flex-start;
  flex-shrink: 0;
}
@media (max-width: 479px) {
  .modal.cart-modal .cart-item .img {
    width: 48px;
    height: 48px;
  }
}
.modal.cart-modal .cart-item .cart-item-center {
  flex: auto;
}
.modal.cart-modal .cart-item .cart-item-center h3 a {
  color: #262626;
}
.modal.cart-modal .cart-item .cart-item-center .counter {
  margin-bottom: 8px;
}
.modal.cart-modal .cart-item .cart-item-center .price {
  display: flex;
  align-items: center;
  gap: 6px;
}
.modal.cart-modal .cart-item .cart-item-center .price s {
  text-decoration-color: #ef4444;
  text-decoration-thickness: 2px;
}
.modal.cart-modal .cart-item .cart-item-center .price .discount {
  font-size: 0.75rem;
  line-height: 1rem;
  user-select: none;
  padding: 2px 4px;
  color: #fafafa;
  background-color: #2563eb;
  border-radius: 4px;
}
.modal.cart-modal .cart-item .delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url(/staticfiles/img/circle-close.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.modal.cart-modal hr {
  border: none;
  border-top: 1px solid #a3a3a3;
}
.modal.cart-modal .modal-footer {
  margin-top: auto;
}
.modal.cart-modal .cart-total .cart-total-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification {
  position: fixed;
  left: 0;
  bottom: 0;
  max-width: calc(100% - 32px);
}

.social-links {
  display: flex;
  align-items: center;
  gap: 8px;
}
.social-links a {
  font-size: 0px;
}
.social-links img {
  width: 20px;
  height: 20px;
  font-size: 12px;
}
.social-links .line {
  width: 1px;
  height: 16px;
  background-color: #2563eb;
}

.dropdown-desktop {
  position: relative;
  display: inline-block;
}
.dropdown-desktop:hover .dropdown-content {
  opacity: 1;
  pointer-events: all;
}
.dropdown-desktop button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  cursor: pointer;
}
.dropdown-desktop button:hover + .dropdown-content, .dropdown-desktop button:focus + .dropdown-content {
  opacity: 1;
  pointer-events: all;
}
.dropdown-desktop .dropdown-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 0px 4px 0px #a3a3a3;
  padding: 12px 16px;
  z-index: 1;
  transition: opacity 0.2s ease 0s;
}
.dropdown-desktop .dropdown-content a {
  display: inline-block;
}
.dropdown-desktop .dropdown-content .text-mb-2:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .dropdown-desktop {
    display: none;
  }
}

.dropdown-mobile {
  margin-bottom: 1rem;
}
.dropdown-mobile .dropdown-content {
  display: none;
  width: 100%;
  max-width: 200px;
  padding: 12px 16px;
  box-shadow: 0px 0px 4px 0px #a3a3a3;
  background-color: #fafafa;
}
.dropdown-mobile .dropdown-content.active {
  display: inline-block;
}
.dropdown-mobile .dropdown-content > a {
  display: block;
}
.dropdown-mobile button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  cursor: pointer;
}

.header.primary {
  position: relative;
  background-color: #fafafa;
  box-shadow: 0px 0px 6px 0px #a3a3a3;
}
.header.primary .container {
  height: 64px;
  display: flex;
  align-items: center;
}
.header.primary .logo {
  font-size: 1.75rem;
  color: #64748b;
}

.header.secondary {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fafafa;
  box-shadow: 0px 0px 6px 0px #a3a3a3;
}
.header.secondary .container {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header.secondary .logo {
  font-size: 1.75rem;
  color: #2563eb;
}
.header.secondary nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header.secondary nav .link {
  color: #2563eb;
  font-size: 1rem;
}
.header.secondary .menu-button {
  display: none;
  font-size: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(/staticfiles/img/menu.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .header.secondary nav .link {
    display: none;
  }
  .header.secondary .menu-button {
    display: block;
  }
}
@media (max-width: 479px) {
  .header.secondary .container {
    height: 48px;
  }
  .header.secondary .logo {
    font-size: 1.25rem;
    color: #2563eb;
  }
}

.footer.secondary {
  background-color: #2563eb;
}
.footer.secondary p,
.footer.secondary h3,
.footer.secondary strong,
.footer.secondary img,
.footer.secondary a {
  color: #fafafa !important;
}
.footer.secondary a {
  text-decoration: underline;
}
.footer.secondary .container {
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer.secondary .footer-top .line {
  background-color: #ffffff;
}
.footer.secondary hr {
  border: none;
  border-bottom: 1px solid #fafafa;
  margin: 32px 0px;
}
.footer.secondary .footer-bottom {
  text-align: center;
}
@media (max-width: 767px) {
  .footer.secondary .container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.section {
  padding-top: 64px;
  padding-bottom: 64px;
}
.section:nth-child(even) {
  background-color: #f5f5f5;
}
@media (max-width: 479px) {
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.menu {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease 0s;
  background-color: rgba(0, 0, 0, 0.6);
}
.menu.active {
  opacity: 1;
  pointer-events: all;
}
.menu.active .menu-content {
  margin-right: 0px;
}
.menu .menu-content {
  position: relative;
  padding: 2rem;
  width: 100%;
  max-width: 320px;
  margin-right: -320px;
  margin-left: auto;
  height: 100vh;
  background-color: #fafafa;
  box-shadow: 0px 0px 6px 0px #a3a3a3;
  transition: margin-right 0.2s ease 0s;
}
.menu .menu-content .menu-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(/staticfiles/img/close.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu .menu-content nav .link {
  display: block;
  width: fit-content;
  font-size: 1rem;
  color: #2563eb;
  margin-bottom: 1rem;
}
.menu .menu-content nav .link:last-child {
  margin-bottom: 0;
}

.cart .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
}
.cart .cart-item .img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  overflow: hidden;
  align-self: flex-start;
}
.cart .cart-item .cart-item-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  gap: 4px;
  margin: 0px 16px 0px 8px;
}
.cart .cart-item .delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url(/staticfiles/img/circle-close.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 479px) {
  .cart .cart-item {
    align-items: flex-start;
    gap: 8px;
  }
  .cart .cart-item .img {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
  }
  .cart .cart-item .cart-item-center {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 0px;
  }
  .cart .cart-item .delete {
    flex-shrink: 0;
  }
}
.cart hr {
  border: none;
  border-bottom: 1px solid #a3a3a3;
}
.cart .cart-total .cart-total-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-bar {
  background-color: #eff6ff;
  box-shadow: 0px 0px 6px 0px #a3a3a3;
  padding: 8px 0px;
}
.contact-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 479px) {
  .contact-bar .container {
    flex-direction: column;
    row-gap: 8px;
  }
}
.contact-bar .contact-bar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 4px;
  flex-wrap: wrap;
}
.contact-bar .contact-bar-left a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2563eb;
}
.contact-bar .contact-bar-left a p {
  color: #2563eb;
}
.contact-bar .contact-bar-left img {
  width: 20px;
  height: 20px;
}

.about.primary img {
  width: 100%;
}

/*# sourceMappingURL=address.css.map */