DEBUG=True

# Database credentials
DB_NAME=my_delivery_database
DB_USER=my_delivery_user
DB_PASSWORD=my_delivery_password
DB_HOST=db
DB_PORT=5432

# PostgreSQL initialization
POSTGRES_DB=my_delivery_database
POSTGRES_USER=my_delivery_user
POSTGRES_PASSWORD=my_delivery_password

# Django admin credentials
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=change_me

# Django secret key
SECRET_KEY=change_me