{% extends "../bases/base.html" %}
{% load static %}

{% block title %}
  Página inicial
{% endblock %}

{% block css %}
<link href="{% static 'css/pages/homepage.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  {% include "../layouts/banner.html" %}
  {% include "../layouts/products.html" %}
  {% include "../layouts/combos.html" %}
  {% include "../layouts/contacts.html" %}
{% endblock %}

{% block js %}
<script src="{% static "js/pages/homepage.js" %}?{% now "U" %}"></script>
{% endblock %}

