{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <title>NetDelivery</title>
    <link href="{% static 'css/pages/index.css' %}?{% now "U" %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="app" id="app">
        {% include "../layouts/header/primary.html" %}
        {% include "../layouts/banner/secondary.html" %}
        {% include "../layouts/about/primary.html" %}
        {% include "../layouts/faq/secondary.html" %}
        {% include "../layouts/footer/secondary.html" %}
    </div>
    <script src="{% static 'js/pages/index.js' %}?{% now 'U' %}"></script>
</body>
</html>