{% extends "../bases/base.html" %}
{% load static %}

{% block title %}
  Pedido
{% endblock %}

{% block css %}
<link href="{% static 'css/pages/order.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'order' %}">
    {% csrf_token %}
    {% include "../components/hidden-fields.html" %}
    {% include "../layouts/cart.html" %}
    {% if address %}
      {% include "../layouts/order-type.html" %}
    {% endif %}
    {% include "../layouts/info-address.html" %}
    {% include "../layouts/payment.html" %}
    {% include "../layouts/order-submit.html" %}
  </form>
{% endblock %}

{% block notification %}
{% include "../components/notification.html" %}
{% endblock %}

{% block js %}
<script>
  const hasNotification = {{ notification|yesno:"true,false" }}
</script>
<script src="{% static "js/pages/order.js" %}?{% now "U" %}"></script>
{% endblock %}
