{% extends "../bases/base.html" %}
{% load static %}

{% block title %}
  Delivery
{% endblock %}

{% block css %}
<link href="{% static 'css/pages/order.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'order' %}">
    {% csrf_token %}
    {% include "../components/hidden-fields.html" %}
    {% include "../layouts/cart.html" %}
    {% include "../layouts/order-type.html" %}
    {% include "../layouts/address.html" %}
    {% include "../layouts/payment.html" %}
    {% include "../layouts/order-submit.html" %}
  </form>
{% endblock %}

{% block js %}
<script src="{% static "js/pages/order.js" %}?{% now "U" %}"></script>
{% endblock %}
