{% extends "../bases/base.html" %}
{% load static %}

{% block title %}
  Delivery
{% endblock %}

{% block css %}
<link href="{% static 'css/pages/order.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <form action="POST">
    {% csrf_token %}
    {% include "../components/hidden-fields.html" %}
    {% include "../layouts/cart.html" %}
    {% include "../layouts/order-type.html" %}
    {% include "../layouts/address.html" %}
    {% include "../layouts/payment.html" %}

    <section>
      <div class="container sm:container">
        <button class="gn-button tt-button full" type="submit">
          Enviar
        </button>
      </div>
    </section>
  </form>
{% endblock %}

{% block js %}
<script src="{% static "js/pages/order.js" %}?{% now "U" %}"></script>
{% endblock %}
