{% extends "../bases/base.html" %}
{% load static %}

{% block title %}
  Produto
{% endblock %}

{% block css %}
<link href="{% static 'css/pages/product.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include "../layouts/product_details.html" %}
{% endblock %}

{% block js %}

{% if option_group %}
<script>
  const variant = {
    id: {{variant.id}},
    name: '{{variant.full_name}}',
    price: {{variant.price}},
    discount: {{variant.discount|floatformat:"u"}},
    img: '{{variant.product.image.url}}',
    link: '{{variant.link}}',
    
    {% if option_group %}
    option_group: {
      minimum: {{option_group.minimum}},
      maximum: {{option_group.maximum}},
    },
    {% endif %}
    
    {% comment %} 
    options: [{% for option in options %}
    {id: {{option.id}}, price: {{option.price}}},
    {% endfor %}], {% endcomment %}
  };
</script>
{% endif %}

<script src="{% static 'js/pages/product.js' %}?{% now 'U' %}"></script>
{% endblock %}

