{% extends "../bases/base.html" %}
{% load static %}

{% block title %}
  Seu perfil
{% endblock %}

{% block css %}
<link href="{% static 'css/pages/profile.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock %}

{% load static %}
{% block content %}
<section>
  <div class="container sm:container">
    <h2 class="text-2xl sm:text-3xl">Seu perfil</h2>
    <div class="g-root g-gap-5">
      <div class="g-row">
        <div class="g-item-12">
          <div class="topic secondary">
            <div class="topic-left">
              <h3>Nome:</h3>
              <p>{{user.first_name}}</p>
            </div>
            <div class="topic-right">
              <a href="{% url 'edit' %}?field=first_name">Editar</a>
            </div>
          </div>
        </div>
        <div class="g-item-12">
          <div class="topic secondary">
            <div class="topic-left">
              <h3>Sobrenome:</h3>
              <p>{{user.last_name}}</p>
            </div>
            <div class="topic-right">
              <a href="{% url 'edit' %}?field=last_name">Editar</a>
            </div>
          </div>
        </div>
        <div class="g-item-12">
          <div class="topic secondary">
            <div class="topic-left">
              <h3>E-mail:</h3>
              <p>{{user.email}}</p>
            </div>
          </div>
        </div>
        <div class="g-item-12">
          <div class="topic secondary">
            <div class="topic-left">
              <h3>Número de celular:</h3>
              <p>{% firstof user.fphone "*Sem número*" %}</p>
            </div>
            <div class="topic-right">
              <a href="{% url 'edit' %}?field=phone">Editar</a>
            </div>
          </div>
        </div>
        <div class="g-item-12">
          <div class="topic secondary">
            <div class="topic-left">
              <h3>Nome de usuário:</h3>
              <p>{{user.username}}</p>
            </div>
            <div class="topic-right">
              <a href="{% url 'edit' %}?field=username">Editar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static "js/pages/profile.js" %}?{% now "U" %}"></script>
{% endblock %}

