.header.secondary {
  position: relative;
  background-color: $neutral-color-100;
  box-shadow: $primary-box-shadow;

  .container {
    height: 64px;
    @include flex-center-between;
  }

  .logo {
    font-size: 1.75rem;
    color: $neutral-color-800;
  }

  nav {
    @include flex-center-center;
    gap: 1rem;

    .link {
      @include flex-align-center;
      gap: 4px;
      color: $neutral-color-800;
    }
  }

  .menu-button {
    display: none;
    font-size: 0px;
    @include reset-button;
    @include square(20px);
    @include background-image(pathImages("menu.svg"));
  }
}

@include md {
  .header.secondary {
    nav {
      display: none;
    }

    .menu-button {
      display: block;
    }
  }
}