.menu {
  $width: 320px;
  position: fixed;
  z-index: 2;
  top: 0px;
  right: -$width;
  padding: 2rem;
  @include max-width($width);
  height: 100vh;
  background-color: $neutral-color-100;
  box-shadow: $primary-box-shadow;
  transition: right $primary-transition;

  .menu-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 0px;
    @include reset-button;
    @include square(20px);
    @include background-image(pathImages("close.svg"));
  }

  nav {
    .link {
      @include flex-align-center;
      gap: 4px;
      width: fit-content;
      color: $neutral-color-800;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.active {
    right: 0;
  }
}

@include md {
  .header {
    nav {
      display: none;
    }
    .menu-button {
      display: block;
    }
  }
}
