.topic.primary {
  display: flex;
  border: 1px solid $neutral-color-600;
  border-radius: 16px;
  padding: 16px;

  .topic-left {
    margin-right: 12px;

    .icon {
      @include flex-center-center;
      @include square(64px);
      background-color: $neutral-color-200;
      border-radius: 64px;

      img {
        @include square(40px);
      }
    }
  }

  .topic-right {
    color: $neutral-color-800;

    .title {
      font-size: 16px;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
    }
  }
}
