.dropdown-desktop {
  position: relative;
  display: inline-block;

  &:hover .dropdown-content {
    @include opacity(true);
  }

  button {
    @include reset-button;
    cursor: pointer;

    &:hover + .dropdown-content,
    &:focus + .dropdown-content {
      @include opacity(true);
    }
  }

  .dropdown-content {
    @include opacity(false);
    position: absolute;
    background-color: $neutral-color-50;
    min-width: 180px;
    @include max-width(200px);
    box-shadow: $box-shadow-100;
    padding: 12px 16px;
    z-index: 1;
    transition: opacity 0.2s ease 0.3s;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .text-mb-2:last-of-type {
        margin-bottom: 0;
    }
  }

  @include md {
    display: none;
  }
}

.dropdown-mobile {
  .dropdown-content {
    display: none;
    @include max-width(200px);
    padding: 12px 16px;
    box-shadow: $box-shadow-100;
    background-color: $neutral-color-50;
    margin-bottom: 16px;

    &.active {
      display: inline-block;
    }

    p {
      // width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .text-mb-4:last-of-type {
        margin-bottom: 0;
    }
  }

  button {
    @include reset-button;
    cursor: pointer;
  }
}
