.list.primary {
  padding-left: 20px;

  li {
    list-style: disc outside;
  }
}

.list.secondary {
  li {
    $dimention: 16px;
    padding-left: $dimention + 8px;
    background-image: url(pathImages("check.svg"));
    background-repeat: no-repeat;
    background-size: $dimention;
    background-position: 0px 4px;
  }
}

.list.tertiary {
  padding-left: 20px;

  li {
    list-style: decimal outside;
  }
}

.list.quarternary {
  padding-left: 20px;

  li {
    list-style: upper-alpha outside;
  }
}