.title-line {
    @include flex-align-center;
    &::before,
    &::after {
      content: "";
      flex-grow: 1;
      height: 1px;
      background: $primary-color-600;
    }
  
    &::before {
      margin-right: 16px;
    }
  
    &::after {
      margin-left: 16px;
    }
    @include sm {
      &::before {
        margin-right: 12px;
      }
  
      &::after {
        margin-left: 12px;
      }
    }
  }