.contacts {
  .contact-item {
    padding: 16px;
    text-align: center;

    .icon {
      @include square(40px);
      margin-bottom: 8px;
    }

    a {
      text-decoration: underline;
      font-style: italic;
      color: $neutral-color-700;
    }
  }

  @include md {
    .contact-item {
      padding: 32px;

      &.dividers {
        border-right: 2px solid $neutral-color-300;
        border-left: 2px solid $neutral-color-300;
      }
    }
  }
}