<ul class="multi-buttons">
    {% for var in variants %}
        <li>
            {% if var.id != variant.id %}
                <a
                    href="/{{username}}/produto?id={{var.product.id}}&variant={{var.id}}"
                    class="size"
                    title="{{var.name}}"
                >
                    {{var.name}}
                </a>
            {% else %}
                <p class="size active" title="{{var.name}}">
                    {{var.name}}
                </p>
            {% endif %}
        </li>
    {% endfor %}
</ul>