@import "../themes/theme";
@import "../base/global";
@import "../utilities/breakpoints";
@import "../utilities/mixins";
@import "../base/container";
@import "../layout/grid";

@import "../components/button";
@import "../components/form";
@import "../components/typography";
@import "../components/aspect-ratio";
@import "../components/counter";
@import "../components/modal";
@import "../components/badge";

@import "../layout/header/secondary";
@import "../layout/footer/primary";
@import "../layout/menu";


section {
    padding-top: 64px;
  
    .container {
      > h2 {
        font-weight: 500;
        margin-bottom: 16px;
        text-align: center;
      }
    }
  
    &:last-of-type {
      padding-bottom: 64px;
    }
  
    @include sm {
      padding-top: 40px;
  
      &:last-of-type {
        padding-bottom: 40px;
      }
    }
  }