<section class="address">
  <div class="container sm:container">
    <h2 class="text-2xl sm:text-3xl">Endereço</h2>

    <div class="g-root g-gap-4">
      <div class="g-row">
        <div class="g-item-12">
          <div class="g-root g-gap-4">
            <div class="g-row">
              <div class="g-item-12">
                <div class="f-row">
                  <input
                    id="cep"
                    name="cep"
                    type="text"
                    class="f-input filled"
                  />
                  <label for="cep" class="f-label">CEP</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="g-item-12">
          <div class="g-root g-gap-4">
            <div class="g-row">
              <div class="g-item-12">
                <div class="f-row">
                  <input
                    id="district"
                    name="district"
                    type="text"
                    class="f-input filled"
                  />
                  <label for="district" class="f-label">Bairro</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="g-item-12">
          <div class="g-root g-gap-4">
            <div class="g-row">
              <div class="g-item-12">
                <div class="f-row">
                  <input
                    id="address"
                    name="address"
                    type="text"
                    class="f-input filled"
                  />
                  <label for="address" class="f-label">Endereço</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="g-item-12">
          <div class="g-root g-gap-4">
            <div class="g-row">
              <div class="g-item-12">
                <div class="f-row">
                  <input
                    id="number"
                    name="number"
                    type="text"
                    class="f-input filled"
                  />
                  <label for="number" class="f-label">Número</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="g-item-12">
          <div class="g-root g-gap-4">
            <div class="g-row">
              <div class="g-item-12">
                <div class="f-row">
                  <input
                    id="complement"
                    name="complement"
                    type="text"
                    class="f-input filled"
                  />
                  <label for="complement" class="f-label">Complemento</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="g-item-12">
          <div class="f-row">
            <label for="save-address" class="check">
              <input id="save-address" v-model="save_address" type="checkbox" />
              <span class="marker"></span>
              <span class="text">Salvar este endereço</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
