{% load static %}
<section class="primary-banner section">
  <div class="container md:container">
    <div class="left">
      <h2>Pizzaria Nobreza.</h2>
      <p>
        Descubra a verdadeira experiência na Pizzaria Nobreza! Nossas pizzas artesanais são preparadas com ingredientes
        frescos e combinadas com sabores irresistíveis.
      </p>
    </div>
    <div class="right">
      <img src="{% static 'img/shourav-sheikh-a66sGfOnnqQ-unsplash-removebg-preview.png'%}" alt="Place Holder" />
    </div>
  </div>
</section>