<section class="cart section">
  <div class="container sm:container">
    <h2 class="text-2xl sm:text-3xl text-mb-5 text-color-primary">Carrinho</h2>

    <div class="g-root g-gap-4 sm:g-gap-5">
      <div class="g-row">
        <div v-if="cart.cart.length == 0" class="g-item-12">
          <p>Não há itens no seu carrinho! </p>
        </div>
        <div v-for="item in cart.cart" class="g-item-12">
          <div class="cart-item">
            <a :href="item.link" class="img">
              <figure class="aspect-ratio aspect-1-1 fit">
                <img :src="item.img" :alt="item.name" />
              </figure>
            </a>
            <div class="cart-item-center">
              <div class="cart-item-center-left">
                <h3 class="text-sm sm:text-base" v-text="item.name"></h3>
                
                <div>
                  <ul v-if="item.options.length" class="text-mb-2">
                    <li class="text-xs" v-for="option in item.options" :key="option.id">
                      <strong v-text="option.name"></strong>: <span v-text="option.fprice"></span>
                    </li>
                  </ul>

                  <div class="counter small">
                    <button
                      class="counter-button"
                      type="button"
                      @click="cart.removeItem(item.id)"
                      :disabled="cart.getCount(item.id) === 1"
                    >
                      <span class="sign minus"></span>
                    </button>
                    <p
                      class="counter-input"
                      v-text="cart.getCount(item.id)"
                    ></p>
                    <button
                      class="counter-button"
                      type="button"
                      @click="cart.addItem(item.id, item.name, item.price)"
                    >
                      <span class="sign"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="cart-item-center-right">
                <p>
                  <s class="text-xs xs:text-sm sm:text-base"
                      v-if="cart.fgetPrice(item.id) !== cart.fgetPriceWithDiscount(item.id)"
                      v-text="cart.fgetPrice(item.id)"></s> <span class="text-xs xs:text-sm sm:text-base" v-text="cart.fgetPriceWithDiscount(item.id)"></span>
                </p>
              </div>
            </div>
            <button
              class="delete"
              type="button"
              @click="cart.deleteItem(item.id)"
            ></button>
          </div>
        </div>
        <div v-if="cart.cart.length >= 1" class="g-item-12"><hr /></div>
        <div v-if="cart.cart.length >= 1" class="g-item-12">
          <div class="cart-total">
            <div class="g-root g-gap-1">
              <div class="g-row">
                <div v-if="is_delivery" class="g-item-12">
                  <div class="cart-total-item">
                    <p class="text-xl">Frete</p>
                    <p class="text-xl">
                      <span class="left"> <span>R$ </span> </span>
                      <strong v-text="cart.fgetFee()"></strong>
                    </p>
                  </div>
                </div>
                <div class="g-item-12">
                  <div class="cart-total-item">
                    <p class="text-xl">Total</p>
                    <p class="text-xl">
                      <span class="left"> <span>R$ </span> </span>
                      <strong v-if="is_delivery" v-text="cart.ftotalPrice()"></strong>
                      <strong v-else v-text="cart.ftotalPriceNoFee()"></strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
