{% load l10n %}
{% if combos|length %}
<section class="section" id="combos">
  <div class="container md:container">
    <h2 class="title-line text-2xl sm:text-3xl text-color-primary text-align-center text-mb-2 sm:text-mb-4">
      Combos
    </h2>
    <swiper :pagination="true" :initial-slide="0" :breakpoints="breakpoints" :modules="modules">
      {% for product in combos %}
      <swiper-slide>
        <article class="card secondary">
          <p class="cart-count" :class="{active: cart.getCount('{{product.id}}')}"
            v-text="cart.getCount('{{product.id}}')">
          </p>
          <a href="{{product.link}}">
            <figure class="aspect-ratio aspect-1-1 fit">
              <img src="{{product.image.url}}" alt="Card Image" />
            </figure>
          </a>
          <div class="description">
            <h3 class="text-lg">
              <a class="text-color-primary" href="{{product.link}}">
                {{product.name}}
              </a>
            </h3>
            <p class="price text-lg text-mb-1">
              {{product.ftotal}}
              {% if product.discount %}
              <span class="discount text-sm">{{product.fdiscount}}</span>
              {% endif %}
            </p>
            <button class="gn-button pm-button small full" @click="cart.addItem(
                '{{product.id}}',
                '{{product.name}}',
                '{{product.price}}',
                '{{product.image.url}}',
                '{{product.discount|unlocalize}}',
                '{{product.link}}',
              )">Adicionar ao carrinho</button>
            <button class="gn-button sc-button small full" @click="openCart">
              Abrir carrinho
            </button>
          </div>
        </article>
      </swiper-slide>
      {% endfor %}
    </swiper>
  </div>
</section>
{% endif %}