{% load l10n %}
<section class="section">
  <div class="container md:container">
    <div class="details primary">
      <div class="g-root g-no-hidden g-gap-5 md:g-gap-8">
        <div class="g-row">
          <div class="g-item-12 sm:g-item-6 md:g-item-7">
            <figure class="aspect-ratio aspect-1-1 fit">
              <img class="product-image" src="{{combo.image.url}}" alt="{{combo.name}}" />
            </figure>
          </div>
          <div class="g-item-12 sm:g-item-6 md:g-item-5">
            <article class="g-root g-no-hidden g-gap-4 md:g-gap-5">
              <div class="g-row">
                <header class="g-item-12">
                  <h2 class="text-lg md:text-xl text-color-primary">
                    {{combo.name}}
                  </h2>
                </header>
                <section class="g-item-12"><hr /></section>
                <section class="g-item-12">
                  <ul>
                    <li class="text-base text-mb-2">
                      <strong>Descrição:</strong> <span>{{combo.description}}</span>
                    </li>
                    {% if combo.discount %}
                    <li class="text-base text-mb-2">
                      <strong>Preço:</strong> <span>{{combo.fprice}}</span>
                    </li>
                    <li class="text-base text-mb-2">
                      <strong>Desconto:</strong> <span>{{combo.fdiscount}}</span>
                    </li>
                    {% endif %}
                    <li class="text-base text-mb-1">
                      <strong>Itens:</strong>
                    </li>
                    <li>
                      <ul class="list primary">
                        {% for item in items %}
                        <li class="text-sm text-mb-1">
                          <a href="{{item.product_variant.link}}">
                            {{item.product_variant.full_name}}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                </section>
                <section class="g-item-12"><hr /></section>
                <footer class="g-item-12">
                  <p class="text-base">
                    <strong>Total:</strong>
                    <span>{{combo.ftotal}}</span>
                  </p>
                </footer>
              </div>
            </article>
            
            {% if not combo.archived %}
              <button class="gn-button pm-button full small sm:regular" @click="cart.addItem(
                '{{combo.id}}',
                '{{combo.name}}',
                '{{combo.price}}',
                '{{combo.image.url}}',
                '{{combo.discount|unlocalize}}',
                '{{combo.link}}',
                )">Adicionar ao carrinho
              </button>
              <button class="gn-button sc-button full small sm:regular" @click="openCart">
                Abrir carrinho
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>