{% load static %}
<section class="contact-bar">
  <div class="container md:container">
    <div class="contact-bar-left">
      <a href="tel:2140028922" target="_blank">
        <img src="{% static 'img/phone.svg' %}" alt="Telefone/WhatsApp" />
        <p>(21) 4002-8922</p>
      </a>
    </div>
    <div class="social-links">
      <a href="https://wa.me/552199999999" target="_blank" title="WhatsApp">
        <img src="{% static 'img/whatsapp.svg' %}" alt="WhatsApp" />
      </a>
      <span class="line"></span>
      <a href="https://www.facebook.com/" target="_blank" title="Facebook">
        <img src="{% static 'img/facebook.svg' %}" alt="Facebook" />
      </a>
      <span class="line"></span>
      <a href="https://www.instagram.com/" target="_blank" title="Instagram">
        <img src="{% static 'img/instagram.svg' %}" alt="Instagram" />
      </a>
      <span class="line"></span>
      <a href="https://www.linkedin.com/" target="_blank" title="LinkedIn">
        <img src="{% static 'img/linkedin.svg' %}" alt="LinkedIn" />
      </a>
      <span class="line"></span>
      <a href="https://x.com/" target="_blank" title="X">
        <img src="{% static 'img/x.svg' %}" alt="X" />
      </a>
    </div>
  </div>
</section>