{% load static %}
<section class="contacts section" id="contacts">
  <div class="container md:container">
    <h2 class="text-2xl sm:text-3xl text-color-primary text-align-center text-mb-2 sm:text-mb-4">
      Contate-nos
    </h2>
    <p class="text-base text-align-center text-mb-4">
      Estamos prontos para ouvir você! Para dúvidas, sugestões ou pedidos, entre em contato conosco e teremos o prazer
      em ajudar.
    </p>
    <div class="g-root g-gap-0">
      <div class="g-row">

        {% if contacts.address_text %}
        <div class="g-item-12 md:g-item-4">
          <div class="contact-item">
            <img src="{% static 'img/marker.svg'%}" alt="Address" class="icon" />
            <h3 class="text-xl text-color-primary text-align-center">
              Endereço
            </h3>
            <a href="{{contacts.address_link}}"
              target="_blank" rel="noopener noreferrer">{{contacts.address_text }}</a>
          </div>
        </div>
        {% endif %}

        {% if contacts.phone_number %}
        <div class="g-item-12 md:g-item-4">
          <div class="contact-item dividers">
            <img src="{% static 'img/phone.svg'%}" alt="Telephone" class="icon" />
            <h3 class="text-xl text-color-primary text-align-center">
              Telefone
            </h3>
            <a href="tel:{{contacts.phone_number}}">{{contacts.fphone_number}}</a>
          </div>
        </div>
        {% endif %}


        {% if contacts.email %}
        <div class="g-item-12 md:g-item-4">
          <div class="contact-item">
            <img src="{% static 'img/mail.svg'%}" alt="E-mail" class="icon" />
            <h3 class="text-xl text-color-primary text-align-center">
              E-mail
            </h3>
            <a href="mailto:{{contacts.email}}">{{contacts.email}}</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>