<section>
  <div class="container xs:container">
    <h2 class="text-2xl sm:text-3xl">Edite seu {{field.label}}</h2>

    <form action="" method="post">
        {% csrf_token %}
        <div class="g-root g-gap-2 sm:g-gap-4">
        <div class="g-row">
            <div class="g-item-12">
            <div class="f-row">
                <input
                    v-model="fields.{{field.name}}"
                    id="{{field.name}}"
                    name="{{field.name}}"
                    type="text"
                    class="f-input filled"
                    :class="{...active(fields.{{field.name}})}"
                    value="{% firstof field.value "" %}"
                    {% if field.name == 'phone' %}
                    v-mask="'(##) #####-####'"
                    {% endif %}
                />
                <label for="{{field.name}}" class="f-label">{{field.label.capitalize}}</label>
            </div>
            </div>
            <div class="g-item-12">
                <div class="f-row">
                    <button class="gn-button tt-button full">Confirmar</button>
                </div>
            </div>
            <div class="g-item-12">
                <div class="f-row">
                    <a href={% url 'profile' %} class="gn-button qt-button full">Voltar</a>
                </div>
            </div>
        </div>
        </div>
    </form>
  </div>
</section>
