{% load static %}
<footer class="footer secondary">
  <div class="container md:container">
    <div class="footer-top">
      <div class="g-root g-gap-8">
        <div class="g-row">
          <div class="g-item-12 sm:g-item-6 lg:g-item-3">
            <div>
              <h3 class="text-xl text-mb-1">Endereço</h3>
              {% if contacts.address_text %}
                <a 
                  class="text-sm" 
                  href="{{contacts.address_link}}" 
                  target="_blank" 
                  rel="noopener noreferrer"
                >
                  {{contacts.address_text}}
                </a>
              {% endif %}
            </div>
          </div>

          <div class="g-item-12 sm:g-item-6 lg:g-item-3">
            <div>
              <h3 class="text-xl text-mb-1">Contatos</h3>
              {% if contacts.phone_number %}
                <p>
                  <strong>Telefone: </strong>
                  <a class="text-sm" href="tel:{{contacts.phone_number}}">
                    {{contacts.fphone_number}}
                  </a>
                </p>
              {% endif %}
              {% if contacts.email %}
                <p>
                  <strong>E-mail: </strong>
                  <a class="text-sm" href="mailto:{{contacts.email}}">
                    {{contacts.email}}
                  </a>
                </p>
              {% endif %}
            </div>
          </div>

          <div class="g-item-12 sm:g-item-6 lg:g-item-3">
            <div>
              <h3 class="text-xl text-mb-1">Funcionamento</h3>
              <p class="text-sm">
                <strong>Ter-Dom:</strong> 19h às 00h
              </p>
              <p class="text-sm">
                <strong>Segunda:</strong> Fechado
              </p>
            </div>
          </div>

          <div class="g-item-12 sm:g-item-6 lg:g-item-3">
            <div>
              <h3 class="text-xl text-mb-1">Siga-nos</h3>
              <div class="social-links">
                {% if contacts.whatsapp_number %}
                  <a href="https://wa.me/{{contacts.whatsapp_number}}?text={{contacts.whatsapp_message}}" target="_blank" title="WhatsApp">
                    <img src="{% static 'img/whatsapp-white.svg' %}" alt="WhatsApp" />
                  </a>
                {% endif %}
                {% if contacts.facebook_link %}
                  <a href="{{contacts.facebook_link}}" target="_blank" title="Facebook">
                    <img src="{% static 'img/facebook-white.svg' %}" alt="Facebook" />
                  </a>
                {% endif %}
                {% if contacts.instagram_link %}
                  <a href="{{contacts.instagram_link}}" target="_blank" title="Instagram">
                    <img src="{% static 'img/instagram-white.svg' %}" alt="Instagram" />
                  </a>
                {% endif %}
                {% if contacts.linkedin_link %}
                  <a href="{{contacts.linkedin_link}}" target="_blank" title="LinkedIn">
                    <img src="{% static 'img/linkedin-white.svg' %}" alt="LinkedIn" />
                  </a>
                {% endif %}
                {% if contacts.x_link %}
                  <a href="{{contacts.x_link}}" target="_blank" title="X">
                    <img src="{% static 'img/x-white.svg' %}" alt="X" />
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer-bottom">
      <p>© 2024 Copyright: Pizzaria Nobreza.</p>
    </div>
  </div>
</footer>