<section class="address" v-if="is_delivery">
  <div class="container sm:container">
    <h2 class="text-2xl sm:text-3xl">Endereço</h2>

    <div class="g-root g-gap-4">
      <div class="g-row">
        <div class="g-item-12">
          <div class="f-row">
            <input
              id="cep"
              v-model="form.cep"
              name="cep"
              type="text"
              class="f-input filled"
              :class="{...active(form.cep)}"
              v-mask="'00000-000'"
            />
            <label for="cep" class="f-label">CEP</label>
          </div>
        </div>
        <div class="g-item-12">
          <div class="f-row">
            <input
              id="district"
              v-model="form.district"
              name="district"
              type="text"
              class="f-input filled"
              :class="{...active(form.district)}"
            />
            <label for="district" class="f-label">Bairro</label>
          </div>
        </div>
        <div class="g-item-12">
          <div class="f-row">
            <input
              id="address"
              v-model="form.address"
              name="address"
              type="text"
              class="f-input filled"
              :class="{...active(form.address)}"
            />
            <label for="address" class="f-label">Endereço</label>
          </div>
        </div>
        <div class="g-item-12">
          <div class="f-row">
            <input
              id="number"
              v-model.number="form.number"
              name="number"
              type="text"
              class="f-input filled"
              :class="{...active(form.number)}"
              v-mask="'0000000000'"
            />
            <label for="number" class="f-label">Número</label>
          </div>
        </div>
        <div class="g-item-12">
          <div class="f-row">
            <input
              id="complement"
              v-model="form.complement"
              name="complement"
              type="text"
              class="f-input filled"
              :class="{...active(form.complement)}"
            />
            <label for="complement" class="f-label">Complemento</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
