{% if address %}
<section class="address section" v-if="is_delivery">
  <div class="container sm:container">
    <h2 class="title-container text-2xl sm:text-3xl text-mb-5 text-color-primary">Endereço <a class="text-sm" href="{% url 'address' username %}">Editar</a></h2>   

    <div>
      <p class="text-sm sm:text-lg"><strong>CEP:</strong> {{address.logradouro.fcep}}</p>
      <p class="text-sm sm:text-lg"><strong>Bairro:</strong> {{address.logradouro.bairro.name}}</p>
      <p class="text-sm sm:text-lg"><strong>Endereço:</strong> {{address.logradouro.type}} {{address.logradouro.name}}</p>
      <p class="text-sm sm:text-lg"><strong>Cidade:</strong> {{address.logradouro.localidade.name}} - {{address.logradouro.uf.acronym}}</p>
      <p class="text-sm sm:text-lg">
        <strong>Número:</strong> {% firstof address.number "*Sem número (s/n)*" %}
      </p>
      <p class="text-sm sm:text-lg">
        <strong>Complemento:</strong> {% firstof address.complement "*Sem complemento*" %}
      </p>
    </div>

    {% if field.address.errors %}
     <p class="f-helper error text-sm sm:text-base">{{field.address.errors}}</p>
    {% endif %}
  </div>
</section>
{% else %}
<section class="address section">
  <div class="container sm:container">
    <div class="title-container">
      <h2 class="text-2xl sm:text-3xl text-mb-5 text-color-primary">Endereço</h2>
    </div>
    <div class="no-address">
      <p class="text-base sm:text-xl text-align-center text-mb-4">
        Você não possue um endereço registrado. 
        Clique no botão abaixo para adicionar
        seu endereço.
      </p>
      <a  class="gn-button pm-button center" href="{% url 'address_edit' username=username %}">Adicionar endereço</a>
    </div>
  </div>
</section>
{% endif %}



