{% load static %}
<aside class="menu" :class="{active: modal.menu}">
  <div class="menu-content">
    <button class="menu-button" @click="closeModal('menu')">Close menu</button>
    <nav>
      <p class="text-mb-4">
        <a class="link" href="#about" @click="closeModal('menu')">Sobre Nós</a>
      </p>
      
      {% if categories.items|length or combos|length %}
      <div class="dropdown-mobile">
        <button class="link text-mb-4" @click="toggleModal('dropdown')">Produtos</button>
        <div class="dropdown-content" :class="{active: modal.dropdown}">
          {% for category in header_categories %}
          <p class="text-mb-4">
            <a
              class="link"
              href="{% url 'homepage' username %}#{{category.get_code}}"
              @click="closeModal('menu')"
              >{{category.name}}
            </a>
          </p>
          {% endfor %}
          {% if combos|length %}
          <p class="text-mb-4">
            <a class="link" href="{% url 'homepage' username %}#combos" @click="closeModal('menu')">Combos</a>
          </p>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <p class="text-mb-4">
        <a class="link" href="#faq" @click="closeModal('menu')">Perguntas</a>
      </p>
      <p class="text-mb-4">
        <a class="link" href="#contacts" @click="closeModal('menu')">Contatos</a>
      </p>
    </nav>
  </div>
</aside>
