{% load l10n %}
<section class="section">
  <div class="container md:container">
    <div class="details primary">
      <div class="g-root g-no-hidden g-gap-5 md:g-gap-8">
        <div class="g-row">
          <div class="g-item-12 sm:g-item-6 md:g-item-7">
            <figure class="aspect-ratio aspect-1-1 fit">
              <img
                class="product-image"
                src="{{variant.product.image.url}}"
                alt="{{variant.product.name}}"
              />
            </figure>
          </div>
          <div class="g-item-12 sm:g-item-6 md:g-item-5">
            <article class="g-root g-no-hidden g-gap-4 md:g-gap-5">
              <div class="g-row">
                <header class="g-item-12">
                  <h2 class="text-lg md:text-xl text-color-primary">
                    {{variant.full_name}}
                  </h2>
                </header>
                <section class="g-item-12"><hr /></section>
                <section class="g-item-12">
                  <ul>
                    <li class="text-base text-mb-2">
                      <strong>Descrição:</strong> <span>{{variant.product.description}}</span>
                    </li> 
                    {% if variant.note %}
                    <li class="text-base text-mb-2">
                      <strong>Detalhe:</strong> <span>{{variant.note}}</span>
                    </li>
                    {% endif %}
                    {% if variant.stock %}
                    <li class="text-base text-mb-2">
                      <strong>Estoque:</strong> <span>{{variant.stock}} unidades</span>
                    </li>
                    {% endif %}
                    {% if variant.discount %}
                    <li class="text-base text-mb-2">
                      <strong>Preço:</strong> <span>{{variant.fprice}}</span>
                    </li>
                    <li class="text-base text-mb-2">
                      <strong>Desconto:</strong> <span>{{variant.fdiscount}}</span>
                    </li>
                    {% endif %} 
                    {% if variants|length > 1 %}
                    <li class="text-base text-mb-2">
                      <strong>Variações:</strong> <br />
                      {% include "../components/multi-buttons.html" %}
                    </li>
                    {% endif %}

                    {% if option_group %}
                      <li class="text-base">
                        <p class="text-mb-2">
                          <strong>Complementos:</strong> 
                          {% if option_group.input_type == "checkbox" %} 
                          {% if option_group.minimum %}min({{option_group.minimum}}){% endif %}
                          {% if option_group.maximum and option_group.maximum != options|length %}max({{option_group.maximum}}){% endif %}
                        </p>
                        {% endif %}
                        <ul id="option_group">
                          {% for option in options %}
                          {% if option_group.input_type == "radio" %}
                          <li>
                            <label for="{{option.id}}">
                              <input type="radio" name="option" id="{{option.id}}">
                              <span>
                                <strong>{{option.name}}</strong>: <span>{{option.fprice}}</span>
                              </span>
                            </label>
                          </li>
                          {% else %}
                          <li class="text-mb-2" :key="'option_{{option.id}}'">
                              <div class="f-row">
                                <label for="option_{{option.id}}" class="check">
                                  <input 
                                    type="checkbox" 
                                    @change="e => handleOption(e, {{variant.id}})"
                                    :checked="isChecked({{option.id}})"
                                    :disabled="handleMaximum({{option.id}}, {{variant.id}})" 
                                    name="option_{{option.id}}"
                                    id="option_{{option.id}}"
                                    data-price="{{option.price}}"
                                    data-name="{{option.name}}"
                                  >
                                  <span class="marker"></span>
                                  <span class="text"><strong>{{option.name}}</strong>: <span>{{option.fprice}}</span></span>
                                </label>
                              </div>
                          </li>
                          {% endif %}
                          {% endfor %}
                        </ul>
                      </li>
                    {% endif %}
                  </ul>
                </section>
                <section class="g-item-12"><hr /></section>
                <footer class="g-item-12">
                  <p class="text-base">
                    <strong>Total:</strong>
                    <span v-text="cart.ftotalPriceItem({{variant.id}}) || '{{variant.ftotal}}'"></span>
                  </p>
                </footer>
              </div>
            </article>
            {% if not variant.archived %}
              <button
                class="gn-button pm-button full small sm:regular"
                @click="cart.addItem(
                  '{{variant.id}}',
                  '{{variant.full_name}}',
                  '{{variant.price}}',
                  '{{variant.product.image.url}}',
                  '{{variant.discount|unlocalize}}',
                  '{{variant.link}}',
                  checkboxes_filter
                )"
              >
                Adicionar ao carrinho ([[cart.getCount('{{variant.id}}') || 0]])
              </button>
              <button
                class="gn-button sc-button full small sm:regular"
                @click="openCart"
              >
                Abrir carrinho
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>