.footer.primary {
  background-color: $primary-color-800;

  .container {
    padding: 16px 0px;

    p {
      color: $neutral-color-50;
    }
  }

  @include md {
    .container {
      padding: 20px 0px;
    }
  }
}