{% load static %}
<section class="about primary section" id="about">
  <div class="container md:container">
    <div class="g-root g-gap-8">
      <div class="g-row gx-center">
        <div class="g-item-12 sm:g-item-6">
          <img src="{% static "img/system.svg" %}" alt="Representação do sistema" />
        </div>
        <div class="g-item-12 md:g-item-6">
          <div>
            <h2 class="text-3xl sm:text-4xl text-mb-4 text-color-primary">
              Saiba mais
            </h2>
            <p class="text-base sm:text-xl text-mb-4">
              Confira mais dos benefícios da nossa plataforma:
            </p>
            <ul class="list secondary">
              <li class="text-sm sm:text-base">
                <strong>Cadastro de produtos</strong>: Cadastre produtos, preços, descontos, tamanhos e controle de estoque.
              </li>
              <li class="text-sm sm:text-base">
                <strong>Carrinho de compras</strong>: Permita que seus clientes escolham múltiplos itens para seus pedidos.
              </li>
              <li class="text-sm sm:text-base">
                <strong>Registro de pedidos</strong>: Clientes fazem pedidos pelo site e atendentes cadastram pedidos no painel administrativo.
              </li>
              <li class="text-sm sm:text-base">
                <strong>Taxas de entrega</strong>: Defina taxas específicas por bairro ou um valor fixo para todos.
              </li>
              <li class="text-sm sm:text-base">
                <strong>Consulta por CEP</strong>: Clientes informam o CEP para facilitar a entrega e cálculo de custos.
              </li>
              <li class="text-sm sm:text-base">
                <strong>Gestão de equipe</strong>: Permita que seus funcionários usem o sistema para uma gestão integrada.
              </li>
              <li class="text-sm sm:text-base">
                <strong>Suporte dedicado</strong>: Oferecemos ajuda por mensagens, chamadas ou videoconferência.
              </li>
            </ul>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
