{% load static %}
<section class="about primary section" id="about">
  <div class="container md:container">
    <div class="g-root g-gap-8">
      <div class="g-row gx-center">
        <div class="g-item-12 sm:g-item-6">
          <img src="{% static 'img/chad-montano-MqT0asuoIcU-unsplash.jpg'%}" alt="Place Holder" />
        </div>
        <div class="g-item-12 md:g-item-6">
          <div>
            <h2 class="text-3xl sm:text-4xl text-mb-4 text-color-primary">
              Sobre Nós
            </h2>
            <p class="text-base sm:text-xl text-mb-4">
              Na Pizzaria Nobreza, paixão e qualidade se encontram em cada fatia.
            </p>
            <ul class="list secondary">
              <li class="text-sm sm:text-base">
                Pizzas artesanais preparadas com massa fresca, assada diariamente para garantir crocância perfeita.
              </li>
              <li class="text-sm sm:text-base">
                Ingredientes selecionados, frescos e de alta qualidade, criam combinações de sabores únicas e
                irresistíveis.
              </li>
              <li class="text-sm sm:text-base">
                Ambiente acolhedor e descontraído, ideal para famílias, encontros românticos e reuniões com amigos.
              </li>
              <li class="text-sm sm:text-base">
                Atendimento atencioso e cordial, sempre pronto para tornar sua experiência memorável e especial.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>