<section class="about secondary section" id="about2">
  <div class="container md:container">
    <div class="g-root">
      <div class="g-row gy-center">
        <div class="g-item-12 md:g-item-7">
          <div class="img"></div>
        </div>
        <div class="g-item-12 md:g-item-5">
          <div class="about-right">
            <div>
              <h2 class="text-3xl sm:text-4xl text-align-center text-mb-4 text-color-primary">
                Pizzaria Sabor e Tradição
              </h2>
              <p class="text-base text-align-center">
                Delicie-se com nossas pizzas artesanais, feitas com amor e
                os melhores ingredientes. Cada fatia é uma explosão de sabores,
                perfeita para qualquer ocasião. Venha experimentar a verdadeira
                paixão pela pizza!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>