<section class="about senary section">
  <div class="container md:container">
    <div class="g-root g-gap-8">
      <div class="g-row gy-center gx-center">
        <div class="g-item-12 sm:g-item-6">
          <div class="aspect-ratio aspect-1-1 img"></div>
        </div>
        <div class="g-item-12 md:g-item-6">
          <div class="about-content text-align-center">
            <h2 class='text-3xl sm:text-4xl text-mb-4 text-color-primary'>
              Sabor e Tradição
            </h2>
            <div class="about-subtext">
              <p class="text-base">
                Descubra o sabor da tradição, onde cada fatia conta uma história!
              </p>
              <hr>
              <p class="text-base sm:text-xl">
                Delicie-se com nossas pizzas artesanais, feitas com amor e
                os melhores ingredientes. Cada fatia é uma explosão de sabores,
                perfeita para qualquer ocasião. Venha experimentar a verdadeira
                paixão pela pizza!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>