{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <title>
        Delivery | {% block title %}Default title{% endblock %}
    </title>
    {% block css %}
        <link href="{% static 'css/pages/main.css' %}?{% now "U" %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div class="app{% block app_section %}{% endblock %}" id="app">
        {% include "../layouts/header/secondary.html" %}
        {% include "../layouts/menu.html" %}
        {% include "../components/modals/cart.html" %}
        
        {% block content %}{% endblock %}

        {% include "../layouts/footer.html" %}
        
        {% include "../components/modals/logout.html" %}
        {% block modals %}{% endblock %}
    </div>
    {% block js %}
        <script src="{% static "js/pages/main.js" %}?{% now "U" %}"></script>
    {% endblock %}
</body>
</html>