{% load static %}
<header class="header">
  <div class="container md:container between">
    <div> 
      <a class="logo" href="{% url 'homepage' username %}"> {{logo}} </a> 
    </div>
    <div class="header-right">
      <nav> 
        {% if header_categories|length or header_combos %}
        <div class="dropdown-desktop">
          <button class="link">Produtos</button>
          <div class="dropdown-content">
            {% for category in header_categories %}
            <p class="text-mb-2">
              <a 
                class="link"
                @click="closeModal('menu')"
                href="{% url 'homepage' username %}#{{category.get_code}}">
                {{category.name}}
              </a>
            </p>
            {% endfor %}
            {% if header_combos %}
            <p class="text-mb-2">
              <a class="link" href="{% url 'homepage' username %}#combos">Combos</a>
            </p>
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
          <a class="link" href="{% url 'account' username %}">Conta</a>
          <a class="link" href="{% url 'order' username %}">Pedido</a>
          <a class="link" href="/" @click.prevent="openLogout">Sair</a>
        {% endif %}
      </nav> 
      <a class="" href="/" @click.prevent="openCart">
        <span class="badge active">
          <p class="badge-item" v-text="cart.totalCount(99)"></p>
          <img src="{% static 'img/shopping-cart.svg' %}" alt="Carrinho" />
        </span>
      </a>
      {% if not user.is_authenticated %}
        <div class="buttons"> 
          <a class="gn-button pm-button small" href="{% url 'signin' username %}">Login</a> 
          <a class="gn-button sc-button small" href="{% url 'signup' username %}">Cadastrar</a>
        </div>
      {% endif %}
      <button class="menu-button" @click="openModal('menu')">Open menu</button>
    </div>
  </div>
</header>