<header class="header secondary">
  <div class="container md:container">
    <div class="left"><a class="logo" href="{% url 'homepage' %}">LOGO</a></div>
    <div class="right">
      <nav>
        <a class="link" href="/">Login</a>
        <a class="link" href="{% url 'signup' %}">Cadastro</a>
        <a class="link" href="/" @click.prevent="openCart">
          <span class="badge active">
            <p class="badge-item" v-text="cart.totalCount(99)"></p>
            <img src="../../staticfiles/img/shopping-cart.svg" alt="Carrinho" />
          </span>
        </a>
      </nav>
      <button class="menu-button" @click="openModal('menu')">Open menu</button>
    </div>
  </div>
</header>
