<article class="card secondary">
  <p
    class="cart-count"
    :class="{active: cart.getCount('{{product.id}}')}"
    v-text="cart.getCount('{{product.id}}')"
  ></p>
  <a href="/">
    <figure class="aspect-ratio aspect-1-1 fit">
      <img src="/" alt="{{product.name}}" />
    </figure>
  </a>
  <div class="description">
    <h3 class="title text-lg">{{product.name}}</h3>
    <p class="price text-lg">R$ {{product.fprice}}</p>
    <button
      class="gn-button tt-button small full"
      type="button"
      @click="cart.addItem('{{product.id}}', '{{product.name}}', '{{product.price}}')"
    >
      Adicionar ao carrinho
    </button>
  </div>
</article>
